<%= form_with(model:@note, local: true ,url: choose_new_or_edit ) do |form| %>
<% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= @note.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="note_content">
    <%= form.label :投稿内容 %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "一覧画面に戻る", notes_path %>
