<!DOCTYPE html>
<html>
  <head>
    <title>ツイッタークローン</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1 class="title">ついったーくろーん</h1>
    </header>
    <%= yield %>
    <footer>
      <p>© All rights reserved by hogehogenavi.</p>
    </footer>
  </body>
</html>
